<?xml version="1.0"?>
<phpunit
        bootstrap="tests/app/tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        cacheResult="true"
        cacheResultFile="temp/.phpunit.result.cache"
        stopOnDefect="true"
        executionOrder="defects"
        processIsolation="true"
>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">tests/app/tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log
                type="coverage-text"
                target="php://stdout"
                showUncoveredFiles="true"
                showOnlySummary="true"
        />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>