<?xml version="1.0"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  beStrictAboutChangesToGlobalState="false"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutTodoAnnotatedTests="true"
  bootstrap="tests/bootstrap.php"
  cacheResult="true"
  cacheResultFile="temp/.phpunit.result.cache"
  colors="true"
  executionOrder="defects"
  processIsolation="true"
  stopOnDefect="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">tests/app/tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
